Data set

Apply the measure of central tendency
q_7_1

Mean

In [1]:
import pandas as p
data = p.read_csv("India-Tourism-Statistics-2021-Table-2.1.1.csv")
print('Shape',data.shape)
print(data["Percentage (%) change over previous year"].mean())

Shape (22, 11)
3.5227272727272716

Median

In [2]:
print(data["Percentage (%) change over previous year"].median())

5.550000000000001

Mode

In [3]:
a=p.DataFrame(data)
print(a["FTAs in India (in Million)"].mode())

0      1.28
1      1.68
2      2.38
3      2.54
4      2.73
5      2.74
6      3.46
7      3.92
8      4.45
9      5.08
10     5.17
11     5.28
12     5.78
13     6.31
14     6.58
15     6.97
16     7.68
17     8.03
18     8.80
19    10.04
20    10.56
21    10.93
dtype: float64